<form action="/days" method="POST">

  <body>
    <table>

      {{#each days}}
        <tr>
          <th>{{@key}}</th>
          {{#each this}}
          <td>{{users}}</td>
          {{/each}}
        </tr>
      {{/each}}

    </table>
  </body>
</form>