<h1>Waiter App</h1>

<form action="/waiters/:username" method="POST">
    <label>Monday</label>
    <input type="checkbox" id="" name="" value="Monday">
    <label>Tueday</label>
    <input type="checkbox" id="" name="" value="Tuesday">
    <label>Wednesday</label>
    <input type="checkbox" id="" name="" value="Wednesday">
    <label>Thursday</label>
    <input type="checkbox" id="" name="" value="Thursday">
    <label>Friday</label>
    <input type="checkbox" id="" name="" value="Friday">
    <label>Saturday</label>
    <input type="checkbox" id="" name="" value="Saturday">
    <label>Sunday</label>
    <input type="checkbox" id="" name="" value="Sunday">

</form>
<div>
    <button>Update</button>
</div>