<h1>Waiter App</h1>

<form action="/waiters/:userclass" method="POST">
    <label>Monday</label>
    <input type="checkbox" name="checkday" class="check" value="Monday">
    <label>Tuesday</label>
    <input type="checkbox" name="checkday" class="check" value="Tuesday">
    <label>Wednesday</label>
    <input type="checkbox" name="checkday" class="check" value="Wednesday">
    <label>Thursday</label>
    <input type="checkbox" name="checkday" class="check" value="Thursday">
    <label>Frnameaycheckday</label>
    <input type="checkbox" name="checkday" class="check" value="Friday">
    <label>Saturday</label>
    <input type="checkbox" name="checkday" class="check" value="Saturday">
    <label>Sunday</label>
    <input type="checkbox" name="checkday" class="check" value="Sunday">

</form>
<div>
    <button>Update</button>
</div>