body {
    background-image: url('/images/interior-shot-cafe-with-chairs-near-bar-with-wooden-tables_181624-1669.avif');
    background-size: cover;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem 0.125rem white;

}

img.background {
    filter: (100%);
}

button {
    background-color: green;
    border-radius: 20px;
    border-color: white;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    line-height: 5px;
    width: 135px;
    font-size: 16px;
    text-align: center;

}

input {
    height: 25px;
    width: 25px;
    background-color: #eee;
}